<section class="flex flex-col items-center p-4 mb-5 lg:mb-10">
    <div class="space-y-2">
        <h1 class="text-3xl text-center font-semibold capitalize leading-tight text-body dark:text-body-dark">
            All posts
        </h1>
        <nav class="divide-x divide-body/75 dark:divide-body-dark/50">
            <a class="px-2 text-body/75 hover:text-body dark:text-body-dark/50 dark:hover:text-body-dark hover:underline" href="/">
                Home
            </a>
            <a class="px-2 text-body/75 hover:text-body dark:text-body-dark/50 dark:hover:text-body-dark hover:underline" href="/posts">
                All posts
            </a>
        </nav>
    </div>
</section>