---
import { Icon } from 'astro-icon/components';
---

<label for="dark-mode-toggle" title="Toggle dark mode" class="w-12 h-7 relative cursor-pointer rounded-full bg-secondary-100 transition-colors duration-300 has-checked:bg-primary has-checked:[&>span]:translate-x-5">
    <span class="absolute top-0.5 left-0.5 w-6 h-6 bg-white rounded-full transition-transform duration-300">
        <Icon 
            name="light" 
            class="size-4 fill-body dark:fill-body dark:text-body absolute inset-0 m-auto" 
        />
    </span>
    <input 
        onchange="document.documentElement.classList.toggle('dark')" 
        class="hidden" 
        type="checkbox" 
        id="dark-mode-toggle" 
        role="switch" 
        aria-label="Toggle dark mode" 
    />
</label>