---
import { Icon } from 'astro-icon/components';
import featuredPostImg from '@assets/feature-post-img.jpg';
import profile from '@assets/profile.png';
import Badge from '@components/Badge.astro';
---

<a href="/posts/the-impact-of-technology-in-the-workplace" class="relative w-full h-[50vh] lg:h-[65vh] min-h-max p-6 lg:p-10 rounded-2xl overflow-hidden flex flex-col justify-end gap-6 hover:[&>img]:scale-105 hover:[&>img]:brightness-30">
    <img transition:name="featured-post-img" class="absolute -z-1 inset-0 w-full h-full object-cover brightness-50 transition-all duration-300" src={featuredPostImg.src} alt="Featured Image">
    <div class="space-y-4">
        <Badge>Technology</Badge>
        <h2 class="w-full lg:w-[75%] capitalize text-body-dark font-semibold text-2xl leading-tight md:text-3xl lg:text-4xl xl:text-5xl">
            The Impact of Technology on the Workplace: How Technology is Changing
        </h2>
    </div>
    <footer class="flex gap-5 items-center">
        <div class="flex items-center gap-2">
            <img class="rounded-full" src={profile.src} loading="eager" alt="Author profile" width={40} height={40} />
            <p class="capitalize font-medium text-body-dark/50">Jason francisco</p>
        </div>
        <div class="w-[2px] h-6 relative after:content-[''] after:absolute after:w-full after:h-full after:top-0 after:left-0 after:bg-body/75 dark:after:bg-body-dark/50"></div>
        <div class="flex gap-2 items-center">
            <span class="w-fit">
                <Icon name="calendar" class="size-4 text-body-dark/75" />
            </span>
            <time datetime="2023-10-12" class="text-body-dark/75 font-medium">
                October 12, 2023
            </time>
        </div>
    </footer>
</a>